src/main/mule/ek_do_theen.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e1070ee3-ab05-46e8-a216-222f750980ae" >
		<http:listener-connection host="0.0.0.0" port="8084" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="1c01f28e-c856-4db8-b2f0-6ab25383e936" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="satheesh" database="mysql" />
	</db:config>
	<flow name="ek_do_theenFlow" doc:id="ddd27dd8-1039-4144-b483-caa20dd6a26f" >
		<http:listener doc:name="Listener" doc:id="15a4da8b-05b6-4fea-9d6b-d008b30338b6" config-ref="HTTP_Listener_config" path="/dinsert" allowedMethods="POST"/>
		<logger level="INFO" doc:name="StartLogger" doc:id="34a0ed88-2faa-429c-9f17-73e46b10d1bf" message="started inserted data into db&gt;&gt;&gt;#[payload]"/>
		<db:insert doc:name="dataInsertinto DB" doc:id="c11a8cab-d06c-4673-96f6-8b76570bc8af" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into Master_blast(employeId,Name,designation,profile_image,phone,adress,salary)
       values(:employeId,:Name,:designation,:profile_image,:phone,:adress,:salary)
       
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
    "employeId": payload.emp_Id,
    "Name": payload.Name,
    "designation": payload.disgn,
    "profile_image": payload.P_image,
    "phone": payload.phone,
    "adress": payload.adress,
    "salary": payload.salary
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="b3708421-e9e0-49a4-b84b-1bbe40f7d1cd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": 200,
	"message": "success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End_Logger" doc:id="5ff69964-8cd5-472d-9c47-3d2b5833df7d" message="payload inserted succefully"/>
	</flow>
</mule>
